<head>
    <title>Ekkli</title>
	<!-- <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'> -->
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-44655205-1', 'ekkli.com');
	  ga('send', 'pageview');

	</script>
	
	<script>
	// Include the UserVoice JavaScript SDK (only needed once on a page)
	UserVoice=window.UserVoice||[];
	    (function(){
	        var uv=document.createElement('script');
	        uv.type='text/javascript';
	        uv.async=true;
	        uv.src='//widget.uservoice.com/7Jj8wlvZVbZZGDFhXyQBA.js';
	        var s=document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(uv,s)
	    })();

	//
	// UserVoice Javascript SDK developer documentation:
	// https://www.uservoice.com/o/javascript-sdk
	//

	// Set colors
	UserVoice.push(['set', {
	  accent_color: '#448dd6',
	  trigger_color: 'white',
	  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
	}]);

	// Identify the user and pass traits
	// To enable, replace sample data with actual user traits and uncomment the line
	UserVoice.push(['identify', {
	  //email:      'john.doe@example.com', // User’s email address
	  //name:       'John Doe', // User’s real name
	  //created_at: 1364406966, // Unix timestamp for the date the user signed up
	  //id:         123, // Optional: Unique id of the user (if set, this should not change)
	  //type:       'Owner', // Optional: segment your users by type
	  //account: {
	  //  id:           123, // Optional: associate multiple users with a single account
	  //  name:         'Acme, Co.', // Account name
	  //  created_at:   1364406966, // Unix timestamp for the date the account was created
	  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
	  //  ltv:          1495.00, // Decimal; lifetime value of the account
	  //  plan:         'Enhanced' // Plan name for the account
	  //}
	}]);

	// Add default trigger to the bottom-right corner of the window:
	UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

	// Or, use your own custom trigger:
	//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

	// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
	UserVoice.push(['autoprompt', {}]);
	</script>
</head>

<body>     
	{{>map_settings}}

    {{>invite_users}}

	{{>tip}}
</body>

<template name="layout">
	{{#if currentUser}}
	
	{{#unless pageNavEquals 'map_export'}}
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="{{rootPath}}">Ekkli</a>
            <ul class="nav">
                <li {{#if pageNavEquals 'maps'}}class="active"{{/if}}><a href="{{mapsPath}}">Maps</a></li>
				{{#if pageNavEquals 'maps'}}
				<li class="divider-vertical"></li>
				<li><button id="createMap" type="button" class="btn btn-primary" href="#map-settings-dialog" data-toggle="modal">+ Map</button></li>
				{{/if}}
                {{#if pageNavEquals 'map'}}
                <li class="divider-vertical"></li>
                <li class="active"><a href="{{mapPath}}{{map._id}}">{{map.name}}</a></li>
                <li class="divider-vertical"></li>
                <li><button id="addSubStory" type="button" class="btn">+ Action</button></li>
                <li><button id="addStory" type="button" class="btn">+ Goal</button></li>
				<li><button id="addLink" type="button" class="btn">+ Link</button></li>
				<li class="divider-vertical"></li>
				<li>
				<div class="dropdown">
					<button class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-share icon-large"/> Share</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a id="inviteUsers" class="button" href="#invite_users-dialog" data-toggle="modal"><i class="icon-envelope"/> Invite collaborators</a></li>
						<li><a id="exportMap" class="button" href="{{mapPath}}{{map._id}}/export"><i class="icon-print"/> Print map</a></li>
					</ul>
				</div>
			</li>
                {{/if}}
            </ul>

            <ul class="nav pull-right">
                <li>{{ loginButtons align="right"}}</li>
            </ul>
        </div>
    </div>
	{{/unless}}
	
    <div class="container-fluid">
        <div class="row-fluid">
            {{{yield}}}
        </div>
    </div>
	
	
	{{/if}}
	
	{{#unless currentUser}}
	{{>login}}
	{{/unless}}
</template>



<template name="tip">
	<div id="tutorial_tip" class="tip" style="display: {{display}}; position: absolute; top: {{top}}px; left: {{left}}px; width: 450px;">
		<table id="tip-table">
			<tr>
				<td>
					{{#if arrow_side_left}}<img id="tutorial_tip_arrow" src="/curved_arrow_{{arrow_direction}}.png" width="40px">{{/if}}
				</td>
				<td id="tip-cell">
					<span class="tip-text">{{tip_text}}</span>
				</td>
				<td>
					{{#if arrow_side_right}}<img id="tutorial_tip_arrow" src="/curved_arrow_{{arrow_direction}}.png" width="40px">{{/if}}
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<br/>
					<a href="#" class="dismiss">Dismiss</a>
				</td>
				<td></td>
			</tr>
		</table>
	</div>
</template>
